<div class="container">
    <form method="POST" action="/login">
        <div class="mb-3">
            <label for="form-login-email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="form-login-email">
        </div>
        <div class="mb-3">
            <label for="form-login-password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="form-login-password">
        </div>
        <button type="submit" class="btn btn-primary">Loguearme</button>
        <a href="/register" class="btn btn-primary">Registrarme</a>
    </form>
</div>