<div class="container">
    <form method="post" action="/register">
        <div class="mb-3">
            <label for="form-register-nombre" class="form-label">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="form-register-nombre">
        </div>
        <div class="mb-3">
            <label for="form-register-email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="form-register-email">
        </div>
        <div class="mb-3">
            <label for="form-register-password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="form-register-password">
        </div>
        <button type="submit" class="btn btn-primary">Registrarme</button>
        <a href="/login" class="btn btn-primary">Ir a login</a>
    </form>
</div>