<div class="container mt-3">
    <h3 class="text-center">Chat online</h3>
    <form id="chat-form">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input id="input-chat-email" type="email" placeholder="Ingrese su email" class="form-control" name="email" required="true">
            <p id="alert-email"></p>
        </div>
        <div class="mb-3">
            <label class="form-label">Mensaje</label>
            <input id="input-chat-message" type="text" placeholder="Necesito consultar sobre..." class="form-control" name="message">
        </div>
        <button id="btn-chat-submit" type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <div id="chat-box">
    </div>
</div>