/*-------Resets-------*/

*{
    margin: 0;
    padding: 0;
}

/*-------Etiquetas-------*/

h3{
    color: blue;
}

p{
    margin-bottom: 0.1em;
}

/*-------IDs-------*/

#chat-box{
    margin-top: 2em;
    padding: 1em;
    background-color: #F3F3F3;
}

#alert-email, #alert-nombre{
    color: red;
}

/*-------Clases-------*/

.color-brown{
    color: brown;
}
.img-thumbnail{
    height: 50px;
}
.tabla-productos{
    background-color: #182436;
    color: white;
}
.chat-autor{
    color: blue;
}
.chat-hour{
    color: brown;
}
.chat-message{
    font-style: italic;
}
