{{>userBox}}

{{>formProductos}}

<div class="container">
    <h3 class="color-brown mt-3">Lista de productos</h3>
    <table class="table tabla-productos mt-3">
        <thead class="text-center">
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Precio</th>
                <th>Miniatura</th>
            </tr>
        </thead>
        <tbody id="t-body-productos" class="text-center"></tbody>
    </table>
</div>

{{>formChat}}
