<div class="container mt-3">
    <div class="alert alert-success d-flex justify-content-between" role="alert">
        <h4 class="alert-heading">Bienvenido!</h4>
        <button class="btn btn-danger">Desloguear</button>
    </div>
</div>