{{>userBox}}

{{>formProductos}}

<div class="container">
    <h3 class="color-brown mt-3">Lista de productos</h3>
    <table class="table tabla-productos mt-3">
        <thead class="text-center">
            <tr>
                <th>Título</th>
                <th>Precio</th>
                <th>Miniatura</th>
                <th>Agregar</th>
            </tr>
        </thead>
        <tbody id="t-body-productos" class="text-center">
            {{#each productos}}
            <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>
                    <img class="img-thumbnail"src="{{thumbnail}}"></img>
                </td>
                <td>
                    <form action="/agregarProducto" method="POST">
                        <input class="d-none" type="text" name="id" value="{{_id}}">
                        <input type="submit" value="Agregar">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{>formChat}}
