<div class="container mt-3">
    <div class="alert alert-success d-flex justify-content-between" role="alert">
        <h4 id="user-box-title" class="alert-heading">Hasta luego! {{nombre}} {{datos.nombre}}</h4>
        <button class="btn btn-success"><a class="text-decoration-none text-white" href="/">Volver</a></button>
    </div>
</div>