<div class="container mt-3">
    <h3 class="text-center">Login de usuario</h3>
    <form id="login-form">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input id="input-login-name" type="text" placeholder="Ingrese su nombre..." class="form-control" name="name">
            <p id="alert-nombre"></p>
        </div>
        <button id="btn-login-submit" type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <a  class="btn btn-primary mt-3" href="/auth/facebook">Ingresar con Facebook</a>
</div>